
.Task {
    display: flex;
    flex: 1;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: flex-start;
    background: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow-wrap: break-word;
  }

  .Task:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: .2s ease-in;
  }

  .Task-Display {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
  }

  .Task-Display>strong {
    width: 240px;
    min-height: 48px;
    margin-right: 7px;
    margin-left: 7px;
    cursor: pointer;  
    text-align: left;
  }

  .Task-Display>input {
    cursor: pointer;
    vertical-align: text-bottom;
  }

  .Task-Details {
    width: 100%;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-end;
    color: #7F8487;
    font-weight: light;
  }

  .Task-Info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    padding-left: 20px;
    justify-content: flex-start;
  }

  .Task-Display>span {
    font-size: 0.8rem;
    text-align: right;
    position: relative;
    border-bottom: 1px dotted black;
    cursor: pointer;
  }

  .Task-Due-Date {
    padding: 5px;
    font-size: 0.7rem;
  }
  .Task-Due-Date-notif {
    padding: 5px;
    background-color: red;
    color: white;
  }

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

 /* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 0.8em;
  width: 0.8em;
  background-color: #ccc;
  border-radius: 25px;
  transition: 0.15s;
}

 /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: limegreen;
  border-radius: 25px;
  transition: 0.15s;
}

 /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

 /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
} 

 /* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.28em;
  top: 0.12em;
  width: 0.15em;
  height: 0.35em;
  border: solid white;
  border-width: 0 0.1em 0.1em 0;
  transform: rotate(45deg);
}

  
@media (max-width: 320px) {
  .Task {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
  }  
}

  
  
  
  
  
  
  
  
  
  
  
  